{% if page.author_profile or layout.author_profile or page.sidebar or (page.id and site.related_posts.size > 0) %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if s.nav %}
      {% include nav_list nav=s.nav %}
    {% endif %}
    {% if page.sidebar.items %}
      {% for s in page.sidebar.items %}
        <h4>item</h4>
      {% endfor %}
    {% endif %}


  {% endif %}


  <nav class="nav__list">

    {% if page.sidebar.related_posts   %}
    <span class="nav__title">Related Posts</span>
    <ul class="nav__items">
      {% for post in site.related_posts %}
        {% if post.id == page.id %}
          {% continue %}
        {% endif %}

        {% if post.title %}<li><a href="{{ post.url | relative_url }}"><span class="nav__sub-title">{{ post.title }}</span></a></li>{% endif %}
      {% endfor %}
    </ul>
    {% endif %}

  </nav>

  </div>
{% endif %}


